{% extends "home_layout.html" %}

{% block header_script %}
    <link href="{{ url_for('static', filename='bower_components/datatables-responsive/css/dataTables.responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Netshadow{% endblock %}

{% block page_header %}腾讯新闻{% endblock %}

{% block content %}
    <div class="panel-body">
        <div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
        <tr>
            {% for i in cols %}
                <th>{{ i }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for t in rowdata %}
            <tr class="gradeA">
                {% for p in t %}
                    <td>{{ p }}</td>
                {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
    </div>
{% endblock %}

{% block footer_script %}
    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename='bower_components/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
    </script>
{% endblock %}
